<!DOCTYPE html>
<html>
	<%- include('layout/head'); %>
	<body>
		<main id="game">
			<section>
				<% data.forEach(data => {%>
				<article class="scene scene--card">
					<div class="card">
						<div class="card__face card__face--front">
							<p><%= data.name %></p>
						</div>
						<img src="<%=data.images[0] %>" alt="" />
						<div class="card__face card__face--back">back</div>
					</div>
				</article>
				<%})%>
				<article class="scene scene--card">
					<div class="card">
						<div class="card__face card__face--front">front</div>
						<div class="card__face card__face--back">back</div>
					</div>
				</article>
				<article class="scene scene--card">
					<div class="card">
						<div class="card__face card__face--front">front</div>
						<div class="card__face card__face--back">back</div>
					</div>
				</article>
				<article class="scene scene--card">
					<div class="card">
						<div class="card__face card__face--front">front</div>
						<div class="card__face card__face--back">back</div>
					</div>
				</article>
				<article class="scene scene--card">
					<div class="card">
						<div class="card__face card__face--front">front</div>
						<div class="card__face card__face--back">back</div>
					</div>
				</article>
				<article class="scene scene--card">
					<div class="card">
						<div class="card__face card__face--front">front</div>
						<div class="card__face card__face--back">back</div>
					</div>
				</article>
				<article class="scene scene--card">
					<div class="card">
						<div class="card__face card__face--front">front</div>
						<div class="card__face card__face--back">back</div>
					</div>
				</article>
				<article class="scene scene--card">
					<div class="card">
						<div class="card__face card__face--front">front</div>
						<div class="card__face card__face--back">back</div>
					</div>
				</article>
				<article class="scene scene--card">
					<div class="card">
						<div class="card__face card__face--front">front</div>
						<div class="card__face card__face--back">back</div>
					</div>
				</article>
				<article class="scene scene--card">
					<div class="card">
						<div class="card__face card__face--front">front</div>
						<div class="card__face card__face--back">back</div>
					</div>
				</article>
				<article class="scene scene--card">
					<div class="card">
						<div class="card__face card__face--front">front</div>
						<div class="card__face card__face--back">back</div>
					</div>
				</article>
				<article class="scene scene--card">
					<div class="card">
						<div class="card__face card__face--front">front</div>
						<div class="card__face card__face--back">back</div>
					</div>
				</article>
				<article class="scene scene--card">
					<div class="card">
						<div class="card__face card__face--front">front</div>
						<div class="card__face card__face--back">back</div>
					</div>
				</article>
				<article class="scene scene--card">
					<div class="card">
						<div class="card__face card__face--front">front</div>
						<div class="card__face card__face--back">back</div>
					</div>
				</article>
				<article class="scene scene--card">
					<div class="card">
						<div class="card__face card__face--front">front</div>
						<div class="card__face card__face--back">back</div>
					</div>
				</article>
				<article class="scene scene--card">
					<div class="card">
						<div class="card__face card__face--front">front</div>
						<div class="card__face card__face--back">back</div>
					</div>
				</article>
			</section>
			<section id="chatContainer">
				<ul id="messages"></ul>
				<form id="chat" action="">
					<input id="input" autocomplete="off" />
					<button type="submit">Send</button>
				</form>
			</section>
		</main>
	</body>
</html>
