<!DOCTYPE html>
<html>
	<%- include('layout/head'); %>
	<body> 
        <main id='userName'>
		<form method='GET' action="/chat" id="nickname">
			  
            <input name='nickname' id="nickname-input" type="text" autocomplete="off" />
            <button>
				Set nickname
			</button type='submit'>
		</form>
    </main>
	</body>
</html>
