body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	background-color: white;
}

#chat {
	background: #f8f5f8;
	padding: 0.25rem;
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	height: 3rem;
	box-sizing: border-box;
	backdrop-filter: blur(10px);
	width: 30vw;
}
#input {
	border: none;
	padding: 0 1rem;
	flex-grow: 1;
	border-radius: 2rem;
	margin: 0.25rem;
}
#input:focus {
	outline: none;
}
#chat > button {
	background: #333;
	border: none;
	padding: 0 1rem;
	margin: 0.25rem;
	border-radius: 3px;
	outline: none;
	color: #fff;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/* overflow: scroll; */
}
#messages > li {
	padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
	background: #f8f5f8;
}

#userName {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100vh;
}

#userName form {
	position: absolute;
	width: 80vw;
	top: 25%;
	left: 10vw;
}

#chatContainer {
	width: 30vw;
}

#messages {
	height: 90vh;
	overflow-y: scroll;
}

#game section:nth-of-type(1) {
	width: 70vw;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

#game section:nth-of-type(1) > section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#game section:nth-of-type(1) > section h2,
#game section:nth-of-type(1) > section h4 {
	margin: 0.25em;
	padding: 0;
}

#game section:nth-of-type(1) > section h4 {
	font-weight: 300;
	padding-bottom: 1em;
}

#game {
	display: flex;
	/* height: 100vh; */
}

.scene {
	width: 6em;
	height: 10em;
	margin: 40px 0;
	perspective: 600px;
	margin: 1em;
}

.card {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transform-style: preserve-3d;
	transform-origin: center;
	transition: transform 1s;
}

.card.is-flipped {
	transform: translateX(-0%) rotateY(-180deg);
}

.card__face--front img {
	width: 100%;
	height: 100%;
	z-index: 1;
}

.card__face {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;

	text-align: center;
	font-weight: bold;
	font-size: 0.5em;
	font-weight: 300;
	backface-visibility: hidden;
	border-radius: 1em;
	box-shadow: 0.5em 0.5em 0.25em rgba(0, 0, 0, 0.25);
}

.card__face p {
	background-color: white;
	color: black;
	width: 100%;
	padding: 0.5em 0;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	transform: translateY(1em);
	/* box-shadow: 0.25em 0.25em 0.15em rgba(0, 0, 0, 0.25); */
}

.card__face--front {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.card__face--back {
	background-color: black;
	transform: rotateY(180deg);
}

#random {
	width: 2em;
	height: 4em;
}

#givenCharacter {
	width: 12.5em;
	height: 17.5em;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 1em;
	position: relative;
}
